
.poppins{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
/* Navigation Style */
header{
    margin: auto 120px;
}
.navigation{
    
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 24px;
    color: #3A3A3A;
}
.nav-list{
    display: flex;
    gap: 34px;
}
.nav-list-content{
    list-style: none;
}
.nav-list-content a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
}

/* Banner Style */
.banner{
    margin-top:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    width: 582px;   
    
}
.banner-title{
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 16px;
}
.banner-description{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}
.btn-primary{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 24px;
    border-radius: 41px;
    background-color: #E02C6D;
    border: none;
}
.banner-img{
    height:475px;
    width:475px;    
}
.img-bg-2{
    position:relative;
    top: -450px;

}